#navbar {
    display: flex;
    gap: 12px;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-weight: 700;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}